/*
body {
    margin: 0;
    height: 100vh;
}
#button {
    height: 50px;
    width: 50px;
    background-color: red;
}

#main-nav {
    background-color: aqua;
    width: 300px;
    position: absolute;
    top: 50px;
    left: -300px;
    transition: 0.5s;
}

#main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}*/




