* {
    font-family: 'Lato', sans-serif;
}

#mainheader {
    background-image: url(../img/header-background.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
}

/*nawigacja start*/

#main-nav ul {
    z-index: 2;
    margin: 0;
    position: fixed;
    right: 4%;
    top: 3%;
}

#main-nav ul li {
    display: inline-block;
    margin: 2em;
}

#main-nav ul li.itemnav a {
    color: green;
    text-decoration-line: none;
}


/*nawigacja koniec*/

/*header!!!!*/

#mainheader #me {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

#mainheader #me h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 4em;
    font-weight: 100;
}

#mainheader #me h1 span {
    color: limegreen;
    font-weight: 400;
}

#mainheader h2 {
    font-size: 2em;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}


/*header koniec*/

/*o mnie!!!!!*/

#aboutme {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    background-color: #f9fcfe;
    border-bottom: 1px solid black;
}

img.photo {
    width: 23%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 10%;
}

#content {
    width: 50%;
    height: 80%;
    margin: 0;
    position: absolute;
    right: 2em;
    top: 2em;
    padding: 3em;
}

#content .about {
    font-weight: 100;
}

#content .about span {
    color: limegreen;
    font-weight: 400;
}

#content article p {
    padding: 1em;
}

/* koniec o mnie czas o was */

/* umiejetnosci */

#skills {
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid black;
}

#skills #container {
    
}

#skills #container h1 {
    text-align: center;
}

#skills #container h1 span {
    color: limegreen;

}

#skills #container article {
    padding: 2em;
    text-align: center;
    font-size: 1.25em;
}

#skills #container article .photos {
    display: inline-block;
}

#skills #container article .photos p {
    display: inline-block;
    margin: 1em 2em;
}

/* umiejetności koniec */

/* portfolio */
#portfolio {
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid black;
}
#portfolio h1 {
    text-align: center;
    margin-bottom: 4em
}
#portfolio h1 span {
    color: limegreen;
}
#portfolio #photo {
    background-repeat: no-repeat;
    font-size: 0;
    height: 50%;

}
#portfolio #photo #bg1  {
    background-image: url(../img/portfolio1.jpg);
}
#portfolio #photo #bg2 {
    background-image: url(../img/portfolio2.jpg);
}
#portfolio #photo #bg3 {
    background-image: url(../img/portfolio4.jpg);
}
#portfolio #photo .bg {
    height: 100%;
    width: 33.33333%;
    display: inline-block;
}
#portfolio #photo .bg p {
    font-size: 24px;
}