* {
    font-family: 'Lato', sans-serif;
}

#mainheader {
    background-image: url(../img/header-background.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
}

/*nawigacja start*/

#main-nav ul {
    width: 100%;
    z-index: 2;
    margin: 0;
    position: fixed;
    right: 4%;
    top: 3%;
    text-align: right;
    background-color: rgba(222, 222, 222, 0.4)
}

#main-nav ul li {
    display: inline-block;
    margin: 2em;
}

#main-nav ul li.itemnav a {
    color: white;
    text-decoration-line: none;
}


/*nawigacja koniec*/

/*header!!!!*/

#mainheader #me {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

#mainheader #me h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 4em;
    font-weight: 100;
}

#mainheader #me h1 span {
    color: limegreen;
    font-weight: 400;
}

#mainheader h2 {
    font-size: 2em;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}


/*header koniec*/

/*o mnie!!!!!*/

#aboutme {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    background-color: #f9fcfe;
    border-bottom: 1px solid black;
}

img.photo {
    height: 50%;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 10%;
}

#content {
    width: 50%;
    height: 80%;
    margin: 0;
    position: absolute;
    right: 2em;
    top: 2em;
    padding: 3em;
}

#content .about {
    font-weight: 100;
}

#content .about span {
    color: limegreen;
    font-weight: 400;
}

#content article p {
    padding: 1em;
}

/* koniec o mnie */

/* umiejetnosci */

#skills {
    width: 100%;
    height: 80vh;
}

#skills #container {}

#skills #container h1 {
    text-align: center;
}

#skills #container h1 span {
    color: limegreen;

}

#skills #container article {
    padding: 2em;
    text-align: center;
    font-size: 1.25em;
}

#skills #container article .photos {
    display: inline-block;
}

#skills #container article .photos p {
    display: inline-block;
    margin: 1em 2em;
}

/* umiejetności koniec */

/* portfolio */

section#portfolio div#photo {
    font-size: 0;
}

section#portfolio div#photo div#bgphoto1 {
    background-image: url("../img/portfolio1.jpg");
}

section#portfolio div#photo div#bgphoto2 {
    background-image: url("../img/portfolio2.jpg");
}

section#portfolio div#photo div#bgphoto3 {
    background-image: url("../img/portfolio3.jpg");
}

section#portfolio div#photo div.bgphotos {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.3%;
    height: 350px;
    position: relative;
    display: inline-block;
}

section#portfolio div#photo div.bgphotos div.mask {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(77, 25, 45, 0.5);
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-out;
}

section#portfolio div#photo div.bgphotos div.mask:hover {
    opacity: 1;
}

section#portfolio div#photo div.bgphotos div.mask > p {
    font-size: 15px;
    color: #fff;
}

/*    koniec portfolio    */

/*    kontakt poczatek    */

#contact {
    background-color: #213b50;
    color: #fff;
    padding: 1em;
}


#contact h2 {
    margin: 0;
    font-weight: 100;
    font-size: 3em
}
#contact h2 span {
    color: limegreen;
    font-weight: 700;
}

#contact #adress {
    width: 100%;
    height: 70vh;
    position: relative;
}

#contact #adress .city {
    
}

#contact #adress .number a {
    color: limegreen;
}
#contact #adress .fonty a{

}
#contact #adress .fonty a i {
    font-size: 3em;
    margin-right: 10px;
}

.clear {
    clear: both;
}

#contact #adress #formularz {
    color: #fff;
    position: absolute;
    right: 0;
    width: 50%;
    top: 5em
}

#contact #adress #formularz input {
    color: #fff;
    border: 0;
    background-color: #214460;
    display: block;
    margin-top: 2em;
    width: 80%;
    padding: 0;
}

#contact #adress #formularz textarea {
    color: #fff;
    background-color: #214460;
    display: block;
    margin-top: 2em;
    width: 80%;
    height: 5em;
    border-color: #213b50;
    padding: 0;
}

#contact #adress #formularz input[type="submit"] {
    background-color: limegreen;
    width: 20%;
    height: 3em;
    color: white;
    font-weight: 900;
    color: #fff;

}


/* koniec kontakt */


/*footer*/

footer {
    width: 100%;
    height: 2em;
    background-color: #1e2b36;
}
footer .foot {
    margin: 0;
}
footer .foot p {
    margin: 0;
}

/*koniec footer*/